<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Raspberry Pi Kafka</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/site.webmanifest">
</head>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<link rel="stylesheet" href="nodejs/public/css/index.css">
<script src="https://cdn.socket.io/4.1.2/socket.io.min.js"
    integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
    crossorigin="anonymous"></script>
<script src="js/sensordata.js"></script>
<script async src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/all/gauge.min.js"
    onload="initGauge()"></script>


<body>
    <h1>Sensor Measured streamed from Pi</h1>
    <div class="flex-container">
        <div>
            <form method="get">
                <label for="filter">Filter by Endpoint:</label>
                <select name="host">
                    <option value="">All Hosts</option>
                    <option value="kafka-1">kafka-1 </option>
                    <option value="kafka-2">kafka-2</option>
                    <option value="srv-pi-01">srv-pi-01</option>
                    <option value="srv-pi-02">srv-pi-01</option>
                    <option value="Macbook-Air-von-Lukas">Macbook-Air-von-Lukas</option>
                </select>
                <button type="Filter">Filter</button>
            </form>
            <canvas id="temperature-gauge"></canvas>
            <canvas id="humidity-gauge"></canvas>
        </div>
</body>

</html>